.singleOption {
  width: 95%;
  height: 70px;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.singleOption:hover {
  background-color: #ffc727;
}

.singleOption:disabled {
  pointer-events: none;
}

.singleOption:active {
  background: olive;
}

@media (max-width: 614px) {
  .singleOption {
    width: 95%;
    height: 70%;
  }
}

@media (max-width: 450px) {
  .singleOption {
    height: 80%;
  }
  .singleOption:disabled {
    pointer-events: none;
  }
}

.select {
  background-color: #18a558;
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: #d2122e;
  color: white;
  box-shadow: 0 0 1px black;
}
